* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    margin: 3px;
}

body {
    /* Background Image */
    background-image: url("../images/michael-fenton-0ZQ8vojHNuc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}


/* Header/Blog Title */

.header {
    padding: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* border-radius: 3%; */
}

.header h1 {
    font-size: 30px;
    color: rgb(211, 211, 211);
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    /* border-radius: 3%; */
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #f3f3f3;
    color: black;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 45%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 55%;
    /* background-color: #f1f1f1; */
    padding-left: 10px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


/* Real image */

.image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 3px 5px;
}

.curved {
    /* max-width: 100%; */
    /* height: 95%; */
    border-radius: 3%;
    /* padding: 1px; */
    /* border: 1px solid rgba(170, 255, 177, 0.2); */
}


/* Add a card effect for articles */

.card {
    padding 1px 3px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    /* background-color: rgba(1, 12, 20, 0.3); */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 1px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
    /* addition to make it stick to the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: auto; */
    left: 0;
    float: left;
    text-align: center;
    font-size: 90%;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


/*  ------------------------------------- all above is inspired from w3school css divs ---------- */

.center {
    text-align: center;
}

.logo {
    max-width: 50px;
    height: auto;
    display: inline;
    border-radius: 9%;
    padding: 1px;
    border: 4px solid #ffffff;
}

.timer {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    /* margin-top: 10px; */
    color: yellow;
    background-color: rgba(1, 12, 20, 0.6);
}

.timer-small {
    font-size: 26px;
}

.form1 {
    border: 2px;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /* font-weight: bold; */
    margin: 0px 0px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
}

.button-green {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
}

.button-green:hover {
    background: #06b10f;
    color: white;
}

.button-blue {
    background-color: #008CBA;
    color: rgb(0, 0, 0);
    border: 2px solid #2453ec;
}

.button-blue:hover {
    background: rgba(23, 77, 255, 0.9);
    color: rgb(255, 255, 255);
}

.button-red {
    background-color: #f44336;
    /* Red */
}

.button-gray {
    background-color: #e7e7e7;
    /* Gray */
    color: black;
}

.button-black {
    background-color: #555555;
    /* Black */
}

.container {
    width: 100%;
    height: 100%;
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 46, 46, 0.2);
    text-align: center;
    /* padding: 5px; */
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 46, 46, 0.2);
    text-align: center;
    /* padding: 5px; */
}

.right {
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 46, 46, 0.2);
    text-align: center;
    /* padding: 5px; */
}

.right-top {
    background-color: rgba(233, 255, 144, 0.2);
    width: 50%;
    height: 50%;
    float: left;
    /* padding: 5px; */
}

.right-bottom {
    background-color: rgba(170, 255, 177, 0.2);
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    /* padding: 5px; */
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.click-button {
    font-size: 100%;
    border-radius: 90%;
    width: 30px;
    height: 30px;
    background-color: rgba(150, 12, 12, 0.8);
}

.click-button:hover {
    font-size: 100%;
    border-radius: 5%;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.click-button:active {
    font-size: 100%;
    border-radius: 5%;
    width: 300px;
    height: 30px;
}


/* source https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid rgb(16, 177, 10);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}