body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: black;
  background-image: url(../images/unsplash-hearts.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ececec;
  padding: 0;
  margin: 0;
}

.timer {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
